apex==0.9.10dev
datasets==3.6.0
einops==0.8.2
flash_attn==2.8.3
ipdb==0.13.13
litellm==1.82.2
matplotlib==3.10.8
nltk==3.9.2
numpy==2.4.3
packaging==26.0
pandas==3.0.1
peft==0.15.2
pyarrow==21.0.0
python-dotenv==1.2.2
pyzmq==27.1.0
Requests==2.32.5
scipy==1.17.1
timm==1.0.25
torch==2.7.0
tqdm==4.67.1
transformers==4.52.4
trl==0.18.1
vllm==0.10.2
xxhash==3.6.0
openai==2.28.0
